@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>
<BlazoredToasts/>
@*<Blazored.Toast.BlazoredToasts Position="ToastPosition.TopRight" 
                               Timeout="5"
                               IconType="Blazored.Toast.IconType.FontAwesome"
                               SuccessClass="success-toast-override"
                               SuccessIcon="fa fa-thumbs-up"
                               ErrorClass="error-toast-override"
                               ErrorIcon="fa fa-bug"
                               ShowProgressBar="true"
                               />*@
