@page "/"

    <div class="row justify-content-center">
        <h3>Trabalho para fins acadêmico - FACULDADE COTEMIG</h3>
    </div>
    <div class="row justify-content-center">
        <h5>Programação Orientada a Objetos - 4° Período</h5>
    </div>
    <div class="row justify-content-center">
        <h5>Professor: Lucas Schmidt Correa Franco</h5>
    </div>
    <hr />
    <div class="row justify-content-lg-center">
        <img src="https://lh3.googleusercontent.com/proxy/vjetw-agkbBRWhrLdSsG25NGgMjW4VfEWVTnCY41nwzgt48_XOibyVM1eBiQUC_eUO6waBnYNSTJWe-QEISLSHyx786fhTIwv76LrxlnCV132NvLPOd_" alt="logo-cotemig" />
    </div>
    <hr />
    <div class="m-5">
        <div class="row">
            <h4>Desenvolvido por: </h4>
        </div>
        <div class="row">
            <h5>Fabio Martineli Gonçalves</h5>
        </div>
        <div class="row">
            <h5>Felipe Arantes Ricaldoni da Silva</h5>
        </div>
        <div class="row">
            <h6>12/2020</h6>
        </div>
    </div>

