@page "/escola/curso"
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="escola">Escola</a></li>
    <li class="breadcrumb-item"><a>Curso</a></li>
  </ol>
</nav>
<FormAddCurso />

@code {

}
